<form method="post" action="/admin/contact">
    <input type="text" name="facebook" placeholder="facebook" value="{{contact.facebook}}" required >
    <br> <br>
    <input type="text" name="linkedin" placeholder="linkedin" value="{{contact.linkedin}}" required >
    <br> <br>
    <input type="text" name="github" placeholder="github" value="{{contact.github}}" required >
    <br> <br>
    <input type="text" name="phone" placeholder="phone" value="{{contact.phone}}" required >
    <br> <br>
    <input type="email" name="email" placeholder="email" value="{{contact.email}}" required >
    <br> <br>
    <input type="text" name="adress" placeholder="adress" value="{{contact.adress}}" required >
    <br> <br>
    <input type="submit" value="Tesdiq et" >
</form>