<h3>Total: {{logCount}}</h3>
<br>
{{#each log}}
    <p>{{id}}</p>
    <p>{{userAgent}}</p>
    <p>{{sName}}</p>
    <p>{{date}}</p>
 <p>--------------------------------------------------------</p>
{{/each}}